

 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap'); 
 
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis&family=Lobster&family=Mochiy+Pop+P+One&family=Oswald:wght@600&family=Patrick+Hand&family=Permanent+Marker&family=Roboto&family=Rock+3D&family=Secular+One&family=Yanone+Kaffeesatz:wght@400;500;546&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis&family=Lobster&family=Oswald:wght@600&family=Rock+3D&family=Yanone+Kaffeesatz:wght@400;500;546&display=swap');



.active{
    color:red;
}

body {
    
    
}
*{
    box-sizing:border-box ;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

#NavTop{
    
    border:0px solid white;
    height:45px;
    justify-content:flex-end;
    display:flex;
    
    background-color:white;
    border-bottom-color:white;
    border-bottom-width:.7px;
    width:100%;
    transition:all .1s;
    top:0;
    position:fixed;
    }

#NavBottom{
    
    border:0px solid white;
    height:40px;
    background-color:white;
    display:flex;
    border-top-width:1px;
    width:100%;
 box-shadow:2px 2px 2px 2px grey;      
    transition:all .5s;
    bottom:0;
    position:fixed;
    
}
#logo_name{
    margin:auto;
    margin-left:2%;
    background:url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1024px-Instagram_logo.svg.png);
    background-size:cover;
    width:120px;
    height:40px;

}




.logo1:hover{
    
    font-size:31px;
    
    color:transparent ;
    -webkit-background-clip:text;
    background-image:linear-gradient(#7f00ff,#1ca7e7);
    transition:all .2s;
}
.fa{
font-size:28px;
margin-right:5px;
margin:auto;
margin-top:1%;
    
}
logo{
    
    font-size:45px;
    margin:auto;
}

.logo1{
       

    margin:auto;
    font-size:35px;
    
    color:black;
    
    
    
    
}
#flogoS{
    background-image:url("https://cdn-icons-png.flaticon.com/128/1532/1532430.png");
    background-size:cover;
    height:25px;width:25px;
    border:.0001px solid white;
}
#flogoA ,  #flogoT,#flogoH ,  #flogoSE, #flogoC, #flogoAC ,   #flogoS{
    font-size:28px;
}
#flogoC{
    border:.001px solid white;
    height:35px;width:35px;
    background-size:cover;
    background-image:url("https://thumbs.dreamstime.com/b/reels-logo-219165295.jpg");
    
}
#flogoSE:hover{
    color:black;
    font-size:30px;
}
#flogoAC{
background:url(https://api.sololearn.com/Uploads/Avatars/19551147.jpg);
height:30px;
width:30px;
border-radius:50%;
border:.001px solid white;

background-size:cover;
    
    
}
#flogoAC:hover{
    border:1px solid black;
}

.logo{
    font-size:35px;
    margin:auto;
    margin-top:auto ;
    color:black;
    
    
}
h1{
    
    font-family:  'ubuntu',sans-serif;
}

#stories{
    border:0px solid grey;
    height:110px;
    width:100%;
    margin-top:-20px;
    border-bottom:.3px solid grey;
    display:flex;
    
}
.story{
    border:1px solid limegreen;
    margin:auto;
    margin-top:15px;
    border-radius:50%;
    height:60px;
    width:60px;
}

h3{
margin:auto;

    margin-left:3%;
}
#about_post{
    display:flex;
    justify-content:space-around;
    margin:2%;
}

img{
    
    border-top:.5px solid black;
    color:red;
    margin-top:1%;
    width:100%;
    height:350px;
    
}
#create{
    border:1px solid white;
    height:300px;width:100%;
    text-align:center ;
    background-color:white;
    bottom:0;
    box-shadow:-4px -4px 6px 1px grey;
    position:fixed;
    border-radius:38px 43px 0px 0px;
}

ul{
    margin:auto;
}



.undrer_create{
    margin:5%;
    border-bottom:1px solid black;
    border-bottom-width:100%;
}





/*
shradha--https://www.filmibeat.com/imgm/500x50/2021/10/shraddha-kapoor_16348818502.jpg
shradha2--https://www.filmibeat.com/imgm/500x50/2021/10/shraddha-kapoor_16348818503.jpg

zendaya--https://media.gettyimages.com/photos/zendaya-attends-the-71st-emmy-awards-at-microsoft-theater-on-22-2019-picture-id1176437723?k=20&m=1176437723&s=612x612&w=0&h=Sje-wfBishnvkfUCGnRsdEB5T1ygn0NHuNdFSCMzOE0=
zen2--https://media.gettyimages.com/photos/zendaya-attends-the-launch-of-solar-dream-hosted-by-fendi-on-february-picture-id1204331078?k=20&m=1204331078&s=612x612&w=0&h=xrrfa6IHsd-Zf8EgI6Cu8Lc3I3htX543CYDTOa-bC4Y=

tom--https://media.gettyimages.com/photos/tom-holland-and-zendaya-attendsthe-los-angeles-premiere-of-sony-no-picture-id1358900212?k=20&m=1358900212&s=612x612&w=0&h=Jzos4nID3l0I0dAFeW6aIpFd7lFxhfRtYwjoAcF_oAQ=
ronaldo--https://english.cdn.zeenews.com/sites/default/files/2022/01/29/1009812-ronaldo-gff.jpg

avneet--https://cdn.gulte.com/wp-content/uploads/2021/04/Avneet-Kaur-Latest-Hot-Photoshoot_9-819x1024.jpg

katherine--https://www.mordeo.org/files/uploads/2017/06/Katherine-Langford-Cute-Smile-HD-Mobile-Wallpaper-Preview.jpg
kathe2--https://1.bp.blogspot.com/-FFfrqAwPHHA/XTxzquQWPgI/AAAAAAAAGEY/f7VmCoTnxU0hGbK7Kd6ifBqVhS2AK7l4wCEwYBhgL/s640/FB_IMG_1564159404798.jpg

kat3--https://1.bp.blogspot.com/-_HEdbpa6BuQ/XTxzrcIKA-I/AAAAAAAAGEg/gqBAxwrUiYwJbMfhLS3x5Puh-ZUCfNyCACEwYBhgL/s640/Hannah%2BBaker%2BHD%2Bpics.jpg
scaret1 use in main--https://www.popsugar.com/celebrity/Sexy-Scarlett-Johansson-Pictures-46011209
sacr2--use in profile--https://media1.popsugar-assets.com/files/thumbor/wTHLjxJtiuiyvpU63GvrityDtDg/fit-in/728xorig/filters:format_auto-!!-:strip_icc-!!-/2020/08/28/830/n/1922398/8ffce6eef35c7425_GettyImages-1170958811/i/Sexy-Scarlett-Johansson-Pictures.jpg
*/
/** posth div start**/



#post_ellipse_setting{
    height:279px;width:100%;
    position:fixed;
    border-bottom:1px solid whitesmoke;
    z-index:1;
    bottom:0;
    border-radius:12px 12px 0px 0px;
    border:.1px solid whitesmoke;
    background-color:white;
}
#ellip_logo{
    display:flex;
    margin-top:4%;
}
.cut_ellip{
    height:5px;width:52px;
    border-radius:10px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    justify-content:center;
    align-item:center ;
    display:grid;
    background-color:grey;
    border:1px solid grey;
}
#elkip1{
    border-top:.2px solid grey;
    margin-top:5%;
    height:50px;
    border-bottom:.2px solid grey;
}
.elkip{
    margin-left:3%;
    font-size:20px;
    font-weight:500;
    margin-top:auto;
    margin-top:4%;
    
}
.ellipe_logos{
    height:56px;width:56px;
    border:1px solid black;
    margin:auto;
    border-radius:50%;
}
#elName{
    display:flex;
    margin-top:2%;
}
.elNc{
    margin:auto;
    font-size:19px;
    font-weight:600;
    margin-top:5px;
}
.profileNameC,.postProfileImgC,.postEllipse{
    margin:auto;
}

.postEllipse{
    margin-right:1%;
}
.fa{
    font-size:26px;
}
.profileNameC{
    margin-left:-10%;
    font-size:18px;
    font-weight:600;
}
.postName{
    display:flex;
    width:100%;
    border-bottom:.1px solid black;
    height:60px;
    
}
.postProfileImgC{
    height:40px;width:40px;
    margin-left:2%;
    border:.1px solid black;
    border-radius:50%;
}
.postmainImgC{
    height:350px;width:100%;
    background-color:white;
}

.postlikeHeart,.postlikeComment,.postlikeSend,.postlikeBookmark{
    margin:auto;
    font-size:29px;
}
.postlikeComment{
    background-image:url(https://cdn.iconscout.com/icon/free/png-512/comment-3251596-2724645.png);
    height:29px;width:29px;
    margin-top:-1px;
    background-size:cover;
}
.setMglike{
    width:150px;
    display:flex;
}
#postmainImg1{
       background:url(https://firebasestorage.googleapis.com/v0/b/aditya-a96ba.appspot.com/o/20220221_151915.jpg?alt=media&token=7e8c1f0d-5220-4bb0-977e-236857ff510b);
background-size:cover;
}
#postmainImg2{
       background:url(https://cdn.gulte.com/wp-content/uploads/2021/04/Avneet-Kaur-Latest-Hot-Photoshoot_9-819x1024.jpg
);
background-size:cover;
}
#postmainImg3{
    background:url(   https://1.bp.blogspot.com/-FFfrqAwPHHA/XTxzquQWPgI/AAAAAAAAGEY/f7VmCoTnxU0hGbK7Kd6ifBqVhS2AK7l4wCEwYBhgL/s640/FB_IMG_1564159404798.jpg);
  background-size:cover;
}
#postmainImg4{
    background:url(https://www.filmibeat.com/imgm/500x50/2021/10/shraddha-kapoor_16348818502.jpg );
  background-size:cover;
}

#postmainImg5{
    background:url(https://firebasestorage.googleapis.com/v0/b/aditya-a96ba.appspot.com/o/20220221_152048.jpg?alt=media&token=6e54b543-1c56-4952-a308-0b464946e647);
  background-size:cover;
}
#postmainImg7{
    background:url(   https://1.bp.blogspot.com/-FFfrqAwPHHA/XTxzquQWPgI/AAAAAAAAGEY/f7VmCoTnxU0hGbK7Kd6ifBqVhS2AK7l4wCEwYBhgL/s640/FB_IMG_1564159404798.jpg);
  background-size:cover;
}
#postmainImg6{
    background:url(   https://hollywoodlife.com/wp-content/uploads/2014/07/selena-gomez-bikini-orange-backgrid.jpg?w=700&h=990&crop=1);
  background-size:cover;
}


#postmainImg8{
    
    background:url(https://media1.popsugar-assets.com/files/thumbor/_YSsAGQE9G4g-h785zAaR-QmOo4/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2019/04/09/880/n/1922398/580f999be43b7bb6_GettyImages-50923412/i/Sexy-Scarlett-Johansson-Pictures.jpg);
  background-size:cover;
}


#postmainImg9{
    background:url(  https://media1.popsugar-assets.com/files/thumbor/TA52hB-wvvW57p7fO1FLg95ZLRc/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2019/09/23/664/n/1922398/a1e402a80756b3dd_GettyImages-981637910/i/Sexy-Taylor-Swift-Pictures.jpg
 );
  background-size:cover;
}
#postmainImg10{
    background:url(  https://media.gettyimages.com/photos/zendaya-attends-the-launch-of-solar-dream-hosted-by-fendi-on-february-picture-id1204331078?k=20&m=1204331078&s=612x612&w=0&h=xrrfa6IHsd-Zf8EgI6Cu8Lc3I3htX543CYDTOa-bC4Y= );
  background-size:cover;
}
/**i m post 1**/

#postmainImg11{
    background-image:url(https://i.redd.it/t542pt1wzmb71.jpg);
       
   background-size:cover;
}

/**i m post 1 end**/
#postmainImg12{
    background:url(  https://firebasestorage.googleapis.com/v0/b/aditya-a96ba.appspot.com/o/20220221_152103.jpg?alt=media&token=22782079-c510-4a3b-b675-deb5a08e4ec7);
  background-size:cover;
}

#postmainImg13{
    background:url(https://firebasestorage.googleapis.com/v0/b/aditya-a96ba.appspot.com/o/20220221_152035.jpg?alt=media&token=7a17f111-560c-491d-983c-50d9b1ea1da0
 );
  background-size:cover;
}

#postmainImg14{
    background:url(https://firebasestorage.googleapis.com/v0/b/aditya-a96ba.appspot.com/o/20220221_152017.jpg?alt=media&token=03d8d4db-dfce-4312-8fa6-12b378bc0fc0
 );
  background-size:cover;
}

#postmainImg15{
    background:url(https://firebasestorage.googleapis.com/v0/b/aditya-a96ba.appspot.com/o/20220221_152129.jpg?alt=media&token=d9971f60-c51b-4f95-b081-052332278830
 );
  background-size:cover;
}


/**postmainimg end **/
/**profile img**/


#postProfileImg1{
    background-image:url(https://1.bp.blogspot.com/-_HEdbpa6BuQ/XTxzrcIKA-I/AAAAAAAAGEg/gqBAxwrUiYwJbMfhLS3x5Puh-ZUCfNyCACEwYBhgL/s640/Hannah%2BBaker%2BHD%2Bpics.jpg);
    background-size:cover;
}

#postProfileImg2,#postProfileImg12{
    background-image:url(https://storage.googleapis.com/livepitch_new/1b64b34572e8c232f4cb628a78317f31.jpg);
    background-size:cover;
}

#postProfileImg3{
    background-image:url(https://1.bp.blogspot.com/-_HEdbpa6BuQ/XTxzrcIKA-I/AAAAAAAAGEg/gqBAxwrUiYwJbMfhLS3x5Puh-ZUCfNyCACEwYBhgL/s640/Hannah%2BBaker%2BHD%2Bpics.jpg);
    background-size:cover;
}


#postProfileImg4{
    background-image:url(https://storage.googleapis.com/livepitch_new/d7e81d109ac55b17c057ed43c95bf65c.jpg);
    background-size:cover;
}
#postProfileImg5{
    background-image:url(https://1.bp.blogspot.com/-_HEdbpa6BuQ/XTxzrcIKA-I/AAAAAAAAGEg/gqBAxwrUiYwJbMfhLS3x5Puh-ZUCfNyCACEwYBhgL/s640/Hannah%2BBaker%2BHD%2Bpics.jpg);
    background-size:cover;
}
#postProfileImg6{
    background-image:url(
        https://hollywoodlife.com/wp-content/uploads/2014/07/selena-gomez-3-1.jpg?w=200&h=300&crop=1
    );
    background-size:cover;
}

#postProfileImg7{
    background-image:url(
        https://hollywoodlife.com/wp-content/uploads/2014/07/selena-gomez-3-1.jpg?w=200&h=300&crop=1
    );
    background-size:cover;
}


#postProfileImg8{
    background:url(  https://media1.popsugar-assets.com/files/thumbor/wTHLjxJtiuiyvpU63GvrityDtDg/fit-in/728xorig/filters:format_auto-!!-:strip_icc-!!-/2020/08/28/830/n/1922398/8ffce6eef35c7425_GettyImages-1170958811/i/Sexy-Scarlett-Johansson-Pictures.jpg);
    background-size:cover;
}

#postProfileImg9{
    background-image:url(
        https://media1.popsugar-assets.com/files/thumbor/al0Hz0UFaU8poAPUUr6ufaCApyY/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2019/09/23/667/n/1922398/383d9bb2450bc880_GettyImages-1170386429/i/Sexy-Taylor-Swift-Pictures.jpg
    );
    background-size:cover;
}

#postProfileImg10{
    background-image:url(
      https://media.gettyimages.com/photos/zendaya-attends-the-bvlgari-bzero1-rock-collection-event-at-duggal-picture-id1204545842?k=20&m=1204545842&s=612x612&w=0&h=An9iKrJE-Vu38fUoqZb5h74lf5S92RTOV5eumMm7rSc=
    );
    background-size:cover;
}
#postProfileImg10{
    background-image:url(
      https://media.gettyimages.com/photos/zendaya-attends-the-bvlgari-bzero1-rock-collection-event-at-duggal-picture-id1204545842?k=20&m=1204545842&s=612x612&w=0&h=An9iKrJE-Vu38fUoqZb5h74lf5S92RTOV5eumMm7rSc=
    );
    background-size:cover;
}
#postProfileImg11,#postProfileImg13,#postProfileImg14,#postProfileImg15,#postProfileImg1,#postProfileImg5
{
    background-image:url(
      https://firebasestorage.googleapis.com/v0/b/aditya-a96ba.appspot.com/o/20220221_151933.jpg?alt=media&token=945b07f7-bc16-426a-8824-6f3315f78d10
    );
    background-size:cover;
}





/**profile img end**/
.postLikeCommentC{
    height:35px;
    margin:auto;
    margin-top:2%;
    border-bottom:0px solid green;
    justify-content:space-between;
    display:flex;
}
.postlikeBookmark{
    margin-right:3%;
}
.countLike{
    margin-left:3%;
    margin-right:1%;
}
.posth{
    height:100%;width:100%;
    margin-top:-5px;
    border:0px solid black;
} 





/**posth div end**/




/**Notification**/
 
        
        #notification_tab{
            height:50px;
            width:100%;
            top:0;
            position:fixed;
            background-color:white;
        }
        
         #notification_tab_text{
            
             margin:2%;
             font-weight:800;
             flex-wrap:wrap;
             font-size:30px;
         }
        #notify_cotainer{
            margin-top:50px;
        }
            .notification{
                display:flex;
                margin:auto;
                width:100%;
                padding:5px ;
        
            }
.notify_time{
    color:#bebebe;
}
.notify_img {
    border:.4px solid grey;
    height:50px;width:50px;
    border-radius:50%;
    margin-left:4px;
    margin-top:auto ;
    
}
.notify_img{
    margin:1%;
    margin-top:auto;
    flex-wrap:wrap;
    color:black;
}

.notify_text{
    margin-left:2.5%;
    margin-top:auto;
    flex-wrap:wrap;
    text-transform:sentence-case;
    color:black;
}
.notify_name{
font-weight:600;
color:black;
margin:1% ;


}
#notify_khaterine{
    background:url(  https://1.bp.blogspot.com/-_HEdbpa6BuQ/XTxzrcIKA-I/AAAAAAAAGEg/gqBAxwrUiYwJbMfhLS3x5Puh-ZUCfNyCACEwYBhgL/s640/Hannah%2BBaker%2BHD%2Bpics.jpg
 );
    background-size:cover;
}
#notify_selena{
    
     background-image:url(
        https://hollywoodlife.com/wp-content/uploads/2014/07/selena-gomez-3-1.jpg?w=200&h=300&crop=1
    );
    background-size:cover;
    
}
#notify_taylor{
    
    background-image:url(
        https://media1.popsugar-assets.com/files/thumbor/al0Hz0UFaU8poAPUUr6ufaCApyY/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2019/09/23/667/n/1922398/383d9bb2450bc880_GettyImages-1170386429/i/Sexy-Taylor-Swift-Pictures.jpg
    );
    background-size:cover;
    
}
#notify_josep{
    background:url(      https://firebasestorage.googleapis.com/v0/b/aditya-a96ba.appspot.com/o/20220221_151933.jpg?alt=media&token=945b07f7-bc16-426a-8824-6f3315f78d10);
    background-size:cover;
}
#notify_scarllet{
    background:url(https://media1.popsugar-assets.com/files/thumbor/wTHLjxJtiuiyvpU63GvrityDtDg/fit-in/728xorig/filters:format_auto-!!-:strip_icc-!!-/2020/08/28/830/n/1922398/8ffce6eef35c7425_GettyImages-1170958811/i/Sexy-Scarlett-Johansson-Pictures.jpg);
    background-size:cover;
}
#notify_cri{
 background:url(https://i.pinimg.com/474x/ba/0e/05/ba0e0576363c7fadd498508406511f32.jpg);
    background-size:cover;
}
#notify_leo{
    background:url(https://www.fcbarcelona.com/photo-resources/2020/02/15/c9bf7f93-0b10-44cd-85d3-c4e31a6b24ff/mini_2020-02-15_FCBvsGETAFE_15.jpg?width=960&height=960);
    background-size:cover;
}
#notify_avneet{
    background:url(https://storage.googleapis.com/livepitch_new/1b64b34572e8c232f4cb628a78317f31.jpg);
    background-size:cover;
}
#notify_rock{
    background:url(https://cdn.socialtracker.io/avatars/instagram/therock.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=LTKEBXSTRDNP24K3AGAB%2F20220130%2Fams3%2Fs3%2Faws4_request&X-Amz-Date=20220130T194523Z&X-Amz-Expires=7200&X-Amz-SignedHeaders=host&X-Amz-Signature=abe70d9a038474feb89e3d84817c2eac4540b86b5af723d4c9084a53bcd5eefd);
    background-size:cover;
}
#notify_zen{
    background:url(https://media.gettyimages.com/photos/zendaya-attends-the-bvlgari-bzero1-rock-collection-event-at-duggal-picture-id1204545842?k=20&m=1204545842&s=612x612&w=0&h=An9iKrJE-Vu38fUoqZb5h74lf5S92RTOV5eumMm7rSc=);
    background-size:cover;
}
#notify_tom{
    background:url(https://assets.teenvogue.com/photos/5988bb10e04ba21beb2a5164/1:1/w_640,c_limit/tom.jpg);
    background-size:cover;
}

#notify_justin{
    background:url(https://i.pinimg.com/474x/ba/0e/05/ba0e0576363c7fadd498508406511f32.jpg);
    background-size:cover;
}
#notify_priyanka{
    background:url(https://media1.popsugar-assets.com/files/thumbor/cebSOWoHKHOSsSJPSkzSPV-itS8/481x36:1933x1488/fit-in/500x500/filters:format_auto-!!-:strip_icc-!!-/2019/09/09/982/n/1922398/ed1a603d5d76d39f9bba65.20483920_/i/Priyanka-Chopra.jpg);
    background-size:cover;
}
#notify_reel{
    background:url(https://thumbs.dreamstime.com/b/reels-logo-219165295.jpg);
    background-size:cover;
}
#notify_sha{
    background:url(https://storage.googleapis.com/livepitch_new/d7e81d109ac55b17c057ed43c95bf65c.jpg);
    background-size:cover;
}
#notify_virat{
    background:url(https://cdn.socialtracker.io/avatars/instagram/virat.kohli.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=LTKEBXSTRDNP24K3AGAB%2F20220130%2Fams3%2Fs3%2Faws4_request&X-Amz-Date=20220130T194604Z&X-Amz-Expires=7200&X-Amz-SignedHeaders=host&X-Amz-Signature=c90b10a0c8063a3d93453850310ef5f0a96d402aef2068deb99f27371c02183b);
    background-size:cover;
}

    /**end notification**/
/**profile**/

             #profile_top_nav{
    
    height:45px;width:100%;
    position:fixed;
    text-align:center ;
    border-bottom:0.7px solid white;
    justify-content:space-between;
    background-color:white;
    display:flex;
    
    
}
.verify_icon{
    height:25px;width:25px;
    border-radius:50%;
    margin:auto;
    margin-left:-10px;
    background:url(https://thumbs.dreamstime.com/b/approved-icon-profile-verification-accept-badge-quality-check-mark-sticker-tick-vector-illustration-136617444.jpg);
    background-size:cover;
}
#user_id_name,#upload_post,#profile_setting_menu,#lock{
    margin:auto;  
    font-size:22px;
    
}
#lock{
    margin-left:-1px;
}
#user_id_name{
    margin-left:-25px;
    font-weight:bolder;
}
#profile_setting_menu{
    margin-righ:-10px;
    float:right ;
    

}
#upload_post{
    margin-right:-20px;
        
}
#user_image_following{
    height:100px;
    border:0px solid black;
    display:flex;
}

#user_profile_img{
    height:90px;width:90px;
    border:.001px solid grey;
    margin:auto;
    background:url(https://api.sololearn.com/Uploads/Avatars/19551147.jpg);
background-size:cover;
    border-radius:50%;
    margin-left:10px;
}

#followings{
    display:flex;
    margin:auto;
    justify-content:space-around;
    text-align:center ;
    
}
.fllw_fllng{
    margin:10px;
    margin-top:auto ;
}
#user_bio{
    margin:3%;
    color:black;
}

#edit_profile{
    border:1px solid grey ;
    opacity:1;
    height:30px;
    margin-top:10px;
    text-align:center ;
    border-radius:5px;
    display:grid;
}
#story_highlights{
    margin-top:15px;
    margin:10px;
}
.story_hightligh_icon{
    height:60px;width:60px;
    border:1px solid white;
    display:grid;
    background-color:#e7e7e7;
    margin-left:10px;
    margin-top:10px;
    border-radius:50%;
}
.story_hightligh_icon_add{
height:60px;width:60px;
    border:1px solid black;
    display:grid;

    margin-left:10px;
    margin-top:10px;
    border-radius:50%;
}
#add_strory_h{
    display:grid;
    margin:auto ;
}
#story_icon_container{
    display:flex;
    height:60px;
    
}

#post_feed{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    margin-left:1px;
    margin-righ:1px;
    margin-top:30px;
}
.post_feeds{
    height:110px;width:115px;
    border:.1px solid white;
    margin:1.5px;
    background-color:#c8c8c8;

    
}       

#post_feed1{
    background:url(https://images.pexels.com/photos/1062175/pexels-photo-1062175.jpeg?auto=compress&cs=tinysrgb&w=300&lazy=load);
    background-size:cover;
}

#post_feed2{
    background:url(https://images.pexels.com/photos/1064162/pexels-photo-1064162.jpeg?auto=compress&cs=tinysrgb&w=300&lazy=load);
    background-size:cover;
}
#post_feed3{
    background:url(https://images.pexels.com/photos/1586298/pexels-photo-1586298.jpeg?auto=compress&cs=tinysrgb&w=300);
    background-size:cover;
}

#post_feed4{
    background:url(https://images.pexels.com/photos/210186/pexels-photo-210186.jpeg?auto=compress&cs=tinysrgb&w=300);
    background-size:cover;
}
#post_feed5{
    background:url(https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&w=300&lazy=load);
    background-size:cover;
}

#post_feed6{
    background:url(https://images.pexels.com/photos/358532/pexels-photo-358532.jpeg?auto=compress&cs=tinysrgb&w=300&lazy=load);
    background-size:cover;
}

#post_feed7{
    background:url(https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size:cover;
}

#post_feed8{
    background:url(https://images.pexels.com/photos/458917/pexels-photo-458917.jpeg?auto=compress&cs=tinysrgb&w=300&lazy=load);
    background-size:cover;
}

#post_feed9{
    background:url(https://images.pexels.com/photos/68147/waterfall-thac-dray-nur-buon-me-thuot-daklak-68147.jpeg?auto=compress&cs=tinysrgb&w=300&lazy=load);
    background-size:cover;
}

#post_feed10{
    background:url(https://cdn.pixabay.com/photo/2014/02/27/16/10/tree-276014__480.jpg);
    background-size:cover;
}

#post_feed11{
    background:url(https://cdn.pixabay.com/photo/2014/04/14/20/11/pink-324175__480.jpg);
    background-size:cover;
}
#post_feed12{
    background:url(https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072821__340.jpg);
    background-size:cover;
}

        /**profile end**/
        
        /**Search**/
        
#inside_search{
    height:41px;width:95%;
    border:1px solid #eaeaea;
    background-color:#eaeaea;
    border-radius:7px;
    margin:auto ;
    display:flex;
} 
#flogoSearch{
    margin-bottom:auto;
    margin-top:auto;
    margin-left:10px;
}
input[type="search"]{
    outline:none;
    height:40px;width:100%;
    border-radius:7px;
    font-size:20px;
    margin-left:8px;
    font-weight:500;
    color:black;
    background-color:#eaeaea;
    border:.5px solid #eaeaea;
}
#search_nav{
    height:70px;width:100%;
    display:grid;
    position:fixed;
    top:-2px;
    background-color:white;
}
#post_feedsearch{
    flex-wrap:wrap;
    display:flex;
    margin-top:3px;
    margin-left:1px;
    margin-righ:1px;
    justify-content:space-around;
    overflow-y:scroll;
}


.verify_in_home{
    height:22px;width:22px;
    border-radius:50%;
    margin:auto;
    margin-left:-160px;
    background:url(https://thumbs.dreamstime.com/b/approved-icon-profile-verification-accept-badge-quality-check-mark-sticker-tick-vector-illustration-136617444.jpg);
    background-size:cover;
    
}

/**profile setting**/
#profile_setting{
border:1px solid #f9f9f8;
    height:380px;width:100%;
    text-align:center ;
    background-color:#f9f9f8;
    bottom:0;
    box-shadow:-1.5px -1.5px 2px 0.3px #d1d1d1;
    position:fixed;
    border-radius:8% 8% 0px 0px;

}
